include ../mixins/searchBox

header.header
    .header_wrapper
        .header_column
            a(href=routes.home)
                span howRich
                i.fas.fa-city
        .header_column
            +searchBox({})
        .header_column
            span.cart_text CART