.header {
  font-size: 20px;
  padding: 20px 0;
  margin-bottom: 10px;
}

.header_wrapper {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  align-items: center;
  justify-self: center;
  .header_column {
    justify-self: center;
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 800;
      i {
        margin-left: 10px;
      }
    }
  }
}
