.header {
  width: 100%;
  font-size: 20px;
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.6);
}

.header_wrapper {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  align-items: center;
  justify-self: center;

  .header_column {
    a {
      text-decoration: none;
      color: #0652dd;
    }
    color: rgba(0, 0, 0, 0.8);
    font-weight: 800;
    justify-self: center;
  }
  .header_column:nth-child(1) {
    i {
      margin-left: 10px;
    }
  }
  .header_column:last-child {
    display: flex;
    flex-direction: row;
    .wrap_cart {
      margin-right: 5px;
    }
  }
}
