extends layout/main.pug

block fwanggu
    .getNickname
        .nickname_column
            h1 Let me know your Nickname ! 
        .nickname_column
            form#jsNickname
                input(type="text" placeholder=" Nickname 😎 ", name="nickname")
    .showGreeting#jsGreeting
    .searchBox#jsSearchBox
        form(action=routes.search, method="get")#jsSearch
            input(type="text" placeholder="  Which Company ? ", name="term")