extends layout/main.pug

block fwanggu
    .getNickname#jsNickname
        .nickname_column
            h1 Let me know your Nickname ! 
        .nickname_column
            form
                input(type="text" placeholder=" Nickname 😎 ", name="nickname")
    .showNickname
        h1 Hello Nickname.
    .searchBox
        form(action=routes.search, method="get")#jsSearch
            input(type="text" placeholder="  Which Company ? ", name="term")