doctype html
html
    head
        script(src="https://kit.fontawesome.com/f51b0698b7.js" crossorigin="anonymous")
        title #{pagetitle}
        link(rel="stylesheet", href="/static/styles.css")
    body
        h1 Hello World!