extends layout/main.pug

block fwanggu
    h3 Seaching by ... #{searchingBy}
        ul.company_elements#jsSearchCompanies
            a(href="#")
                h5.company_element 삼성전자 | 00129312
            a(href="#")
                h5.company_element 삼성전자 | 00129312
            a(href="#")
                h5.company_element 삼성전자 | 00129312
            a(href="#")
                h5.company_element 삼성전자 | 00129312
            a(href="#")
                h5.company_element 삼성전자 | 00129312
