mixin cartBlock(cart={})

    .cart_corp
        .corp__header
            span=cart.corp_name
            span   | 
            span=cart.corp_number
            button.button.delete_button#jsDelBtn(name="delBtn") ❌
            