mixin cartBlock(cart={})

    .cart_corp
        .corp__header
            span=cart.corp_name
            span   | 
            span=cart.corp_number
        .cart_corp_value
            span 영업이익
            span 순이익
            span 부채