mixin companyBlock(corp={})

    .companyBlock
        h5.company_name
            .checkBox#jsCheckBox
                input(type="checkbox", name="corp_data", value=corp.corp_name+","+corp.corp_code)
                .corp_info
                    span=corp.corp_name
                    span="  |  "
                    span=corp.corp_code